.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
MLOPS_Assignment.egg-info/
venv/
mlruns/
logs/     
tests/
plugins/
include/
"include/" 
