# ====================== DVC ======================
# Ignore actual data (large files)
artifacts/raw/
artifacts/processed/
artifacts/models/

# But allow .dvc files (these must be committed to Git)
!artifacts/*.dvc
!artifacts/raw/*.dvc
!artifacts/processed/*.dvc
!artifacts/models/*.dvc

# DVC internal folders
.dvc/cache/
.dvc/tmp/
.dvc/plots/

# ====================== General ======================
.git
.env
.DS_Store
__pycache__/
*.pyc
venv/
mlruns/
mlflow.db
logs/
tests/
plugins/
include/
custom_jenkins/
verify_redis.py
verify_prediction.py
simulate_drift.py
payload.json
populate_online_feature_store
Jenkinsfile
get_num_cat.py
auto_label_feedback.py
actually_exist.py
scripts/


# Airflow
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db"keys/" 
