seaborn
matplotlib
setuptools
psycopg2-binary==2.9.12            #connect python to postgreSQL
scikit-learn == 1.8.0
redis
tensorflow-cpu
shap
lime
imbalanced-learn
mlflow
dvc
dvc-gs
fastapi
uvicorn[standard]
pydantic
python-dotenv
joblib>=1.4.0
numpy>=1.26.0
pandas>=2.2.0
